---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.top-bar {
    text-align: center;
    background-color: white;
    .toggle-topbar.menu-icon a {
        color: black;
        span::after {
            box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
        }
    }
    &.expanded .title-area {
        background-color: white;
    }
}
.top-bar-section {
    display: inline-block;
    ul li {
        background-color: white;
        a {
            background-color: inherit !important;
            color: black;
        }
        &:hover {
            a {
                color: black !important;
            }
        }
    }
}

.padded-top {
    padding-top: 2rem;
}
.padded-bottom {
    padding-bottom: 2rem;
}
.p-padded-top {
    padding-top: 1rem;
}
.p-padded-bottom {
    padding-bottom: 1rem;
}
.half-p-padded-top {
    padding-top: 0.5rem;
}
.half-p-padded-bottom {
    padding-bottom: 0.5rem;
}

.headline-popout {
    background-color: white;
    position: absolute;
    top: 100px;
    padding: 10px;
    line-height: 30px;
    font-size: 30px;
    z-index: 100;
    h1 {
        margin-bottom: 0;
    }
}

.all-caps {
    text-transform: uppercase !important;
}

.top-bar-section li a.active {
    font-weight: bold;
}