---
layout: default
title: news
category: news
lang: ch
---

<div class="row p-padded-top">
  <div class="medium-6 medium-centered columns">
    {% for post in site.categories[page.category] %}{% if post.lang == page.lang %}
      <div class="row">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </div>
    {% endif %}{% endfor %}
    <div class="row">
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</div>
